<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Ekin'in proje geliştirme sitesi, çeşitli projeler ve geliştirme araçları sunmaktadır. Sohbet uygulaması ve blog paylaşımı gibi projelerimizi keşfedin.">
    <meta name="keywords" content="ekin, ekinn, ekinin sitesi, ekin site, proje geliştirme, sohbet uygulaması, blog paylaşımı, web projeleri, yazılım geliştirme">
    <meta name="theme-color" content="#EB2315">
    <meta name="apple-mobile-web-app-title" content="Ekin'in Sitesi">
    <meta property="og:title" content="Ekin'in Proje Geliştirme Sitesi">
    <meta property="og:description" content="Projelerinizi geliştirin ve paylaşın. Sohbet uygulamaları, bloglar ve daha fazlası.">
    <meta property="og:image" content="https://ekinn.site/assets/img/ekinnsite_logo.png">
    <meta property="og:url" content="https://www.ekinn.site">
    <meta name="google-adsense-account" content="ca-pub-9050645484930137">
    <title>Oyunlar - Ekin'in Proje Geliştirme Sitesi</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/icons/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="/assets/icons/ekinnsite_logo.ico">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9050645484930137"
     crossorigin="anonymous"></script>
</head>
<body class="d-flex justify-content-center align-items-center">
  <span style="position: fixed;top: 0;left: 0; margin: .8rem;">
    <a href="/" class="btn btn-outline-dark"><i class="bi bi-arrow-left"></i> Geri</a>
  </span>
    <main class="container-lg p-4 rounded-3 mb-5">
        <div class="container-fluid text-center">
            <div class="row row-cols-1 row-cols-lg-2">
                <div class="col d-flex align-items-center justify-content-center justify-content-lg-end">
                  <a class="no-drag-select" href="/">
                      <img class="rounded-circle" src="/assets/img/ekinnsite_logo.png" alt="ekinn.site logo" style="width: calc(4rem + 6vw);">
                  </a>
                </div>
                <div class="col d-flex align-items-center justify-content-center justify-content-lg-start">
                  <h1 class="display-1 my-5"><i class="bi bi-stars text-primary"></i> Ekin</h1>
                </div>
            </div>

            <div class="row mt-5 mb-3">
              <div class="col-12">
                <h2 class="display-2">Oyunlar</h2>
              </div>
            </div>

            <div class="softwares fs-5">
              <div class="row mb-1">
                <div class="col-12">
                  <ul class="list-group">
                    <li class="neon-box-shadow list-group-item d-flex justify-content-between align-items-center">
                      <div class="row w-100 row-cols-1 row-cols-md-2 text-start">
                        <div class="col">
                          Yakında
                        </div>
                        <div class="col">
                          <span>
                            <i class="bi bi-windows text-primary"></i> Windows-x64
                          </span>
                        </div>
                      </div>
                      <span class="badge bg-primary rounded-1 ms-2"><a href="javascript:void(0)" class="btn text-light p-1 fw-bold"><i class="bi bi-download"></i> Hemen İndir</a></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
    </main>
    <script src="/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/index.js"></script>
</body>
</html>